<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier</title>
    <script src="/public/js/calendrier.js" defer></script>
    <link rel="stylesheet" href="\public/css/iconfont/material-icons.css">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="\public/image/ATHEAD.png">
    <link rel="stylesheet" href="\public/css/style.css">
</head>

<body class="h-screen overflow-hidden flex items-center justify-center bg-atblue-light">
    <%- include('../navbar',{calendrier:true}) %>
        <div class="flex w-full flex-col h-full overflow-hidden justify-center">

            <div class="bg-white rounded-lg shadow overflow-hidden">
                <div class="flex items-center justify-between py-2 px-6">
                    <div>
                        <span class="text-lg font-bold text-gray-800" id="month"></span>
                        <span class="ml-1 text-lg text-gray-600 font-normal" id="year"></span>
                    </div>
                    <div class="border rounded-lg px-1" style="padding-top: 2px;">
                        <button type="button" id="prev"
                            class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 items-center" onclick="prevMonth()">
                            <svg class="h-6 w-6 text-gray-500 inline-flex leading-none" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 19l-7-7 7-7"></path>
                            </svg>
                        </button>
                        <div class="border-r inline-flex h-6"></div>
                        <button type="button" id="next"
                            class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex items-center cursor-pointer hover:bg-gray-200 p-1" onclick="nextMonth()">
                            <svg class="h-6 w-6 text-gray-500 inline-flex leading-none" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="-mx-1 -mb-1">
                    <div class="flex flex-wrap" style="margin-bottom: -40px;">
                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Dimanche</div>
                        </div>

                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Lundi</div>
                        </div>

                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Mardi</div>
                        </div>

                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Mercredi</div>
                        </div>

                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Jeudi</div>
                        </div>

                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Vendredi</div>
                        </div>

                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day"
                                class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">Samedi</div>
                        </div>
                    </div>
                    <div id="calendrier" class="flex flex-wrap border-t border-l">
                    
                    </div>
            </div>


        </div>
        <script src="\public/js/Jquery/jquery-3.6.0.min.js"></script>
</body>

</html>