<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\public/css/style.css">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="\public/image/ATHEAD.png">
    <link rel="stylesheet" href="\public/css/iconfont/material-icons.css">
</head>

<body class="h-screen overflow-hidden flex items-center justify-center bg-atblue-light">
    <%- include('../navbar',{cours:true}) %>
        <div class="flex w-full flex-col h-full overflow-hidden">
            <div class="flex flex-row items-center w-full mx-1 align-middle justify-center">
                <div class="flex px-1 h-full items-center sm:mt-5 sm:mr-2.5 sm:flex-1 sm:justify-end ">
                    <a href='/cours/add' class="text-atgreen-dark rounded-md outline-none hover:bg-gray-200 focus:outline-none"><i
                            class=" align-middle material-icons" data-toggle='modal'
                            data-target='creer'>add</i></a href='/cours/add'>

                </div>
                <div class="mr-2 search-bar sm:ml-auto  sm:mt-10 w-max my-6 mx-auto">
                    <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none"
                        id="search" type="text" placeholder="Search">

                    <div class=" bg-white py-0.5 pr-0.5 rounded-r-full ">
                        <button
                            class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center">
                            <i class="material-icons ">search</i>
                        </button>
                    </div>
                </div>
            </div>
            <div id='card-container' class="flex flex-col overflow-y-auto space-y-3 p-1 h-full">

            </div>
        </div>
        <script src="\public/js/Jquery/jquery-3.6.0.min.js"></script>
        <script src="/public/js/cours.js"></script>
</body>

</html>