<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partenaire</title>
    <link rel="stylesheet" href="\public/css/iconfont/material-icons.css">
    <link rel="stylesheet" href="\public/css/style.css">
</head>

<body class="h-screen overflow-hidden flex flex-row items-center justify-center bg-atblue-light">
    <%- include('../navbar',{partenaire:true}) %>
        <div class="flex w-full flex-col h-full overflow-hidden">

        </div>
</body>

</html>