<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\public/css/style.css">
    <title>Postulation en cours</title>
    <link rel="stylesheet" href="\public/css/iconfont/material-icons.css">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="\public/image/ATHEAD.png">
</head>

<body class="h-screen overflow-hidden flex items-center justify-center bg-atblue-light">
    <%- include('../navbar',{postulation:true}) %>
        <div class="flex w-full flex-col h-full overflow-hidden">
            <div id="card-container"
                class="flex-1 overflow-x-hidden overflow-y-auto p-1 flex flex-row flex-wrap justify-center items-center">


            </div>
        </div>
        <script src="\public/js/Jquery/jquery-3.6.0.min.js"></script>
        <script src="\public/js/postulations.js"></script>

</body>

</html>